extends layout

block content
    a.card(href="/turn?choice=rock")
        img(src="/images/rock.jpg")
    br
    a.card(href="/turn?choice=paper")
        img(src="/images/paper.jpg")
    br
    a.card(href="/turn?choice=scissors")
        img(src="/images/scissors.jpg")
    br